   <div class="container-fluid flex flex-col">
      <div class="row header">
      </div> <!-- Header --> 
      <div class="row contant">
        <!-- Nav tabs -->
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="profile" role="tabpanel">
            <!--  Profile Tab -->
            <div class="col-md-10 offset-md-1">
              <div class="card">
                <!-- Photos Card -->
                <div class="card-block img-card">
                  <div class="bg-img">
                    
                  </div>
                  <div class="logo-img">
                    <img src="http://placehold.it/240x150" alt="" class="img-thumbnail ">  
                    <form>
                      <input type="file" name="logo-img" id="img-uploader" class="inputfile" data-parent="xxx">
                      <label for="img-uploader" class="btn btn-file">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                      </label>
                    </form>
                  </div>
                </div>
                <!-- Photos Card -->
              </div>
              <div class="card">
                <!-- Info Card -->
                <div class="card-header">
                  Your Information
                </div>
                <div class="card-block info-card">
                  <form action="">
                    <div class="form-group row">
                      <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="first_name" placeholder="First Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-2 col-form-label">Email Address</label>
                      <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" placeholder="Email Address" disabled>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="address" class="col-sm-2 col-form-label">Address</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="address" placeholder="Location Address">
                      </div>
                    </div>
                    <div class="form-group row flex btns-group">
                      <a href="#" class="btn btn-remove-account">Delete Account</a>
                      <input type="submit" class="btn btn-update" value="Save Changes">
                    </div>
                  </form>
                </div>
                <!-- Info Card -->
              </div>
            </div>
            <!--  Profile Tab -->
          </div>
        </div>

      </div> <!-- School -->
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
