<form action="" id="event-search">
  <div class="search-bar flex">
    <i class="fa fa-search fa-lg search-icon" aria-hidden="true" data-parent="event" id="event-icon"></i>
    <input type="text" name="location" id="event-input" class="form-control search-field" placeholder="Find Events By Location">
    <i class="fa fa-map-marker marker-icon" aria-hidden="true" id="marker-event" data-parent="event"
    data-toggle="tooltip" data-placement="top" title="Let Us Get Your Location"></i>
  </div>
</form>