<form action="">
  <div class="search-bar flex">
    <i class="fa fa-search fa-lg search-icon" aria-hidden="true"></i>
    <input type="text" name="query" id="event-search" class="form-control search-field" placeholder="Search...">
  </div>
</form>