<!-- <h1>Welcome to dyno</h1>
 -->
<div class="row contant">
	<div class="container">
	  <h2 class="title center">Popular Schools In Your Area</h2>
	  <% @schools.each do |school| %>
		<%= render partial: "/schools/schoolrow", :locals => {:school => school} %>
	  <% end %>
	</div>
</div>