<h2 class="title center">Popular Schools In Your Area</h2>

<% @schools.each do |school| %>
	<%= render partial: "schools/partials/school_row", :locals => {:school => school} %>
<% end %>

<div class="apple_pagination">
    <%= will_paginate @schools, :container => false %>
</div>