<div class="container-fluid flex flex-col">

  <div class="row contant">
    <!-- Tab panes -->
    <div class="tab-content">
      
      <div class="tab-pane active" id="profile" role="tabpanel">
        <!--  Profile Tab -->
        <div class="col-md-10 offset-md-1">
          
          <div class="card">
            <!-- Info Card -->
            <div class="card-header">
              Your Event Information 
            </div>
            <div class="card-block info-card">
              <form action="/events" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="form-group row">
                  <label for="event_name" class="col-sm-2 col-form-label">Event Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="event_name" placeholder="Event Name" name="event[name]">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="description" class="col-sm-2 col-form-label">Description</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="description" rows="5" placeholder="description" name="event[description]"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="start_date" class="col-sm-2 col-form-label">Date</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="date" name="event[date]">
                  </div>
                </div>

                 <div class="form-group row">
                  <label for="end_date" class="col-sm-2 col-form-label">Not using</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="date">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="start_time" class="col-sm-2 col-form-label">Start Time</label>
                  <div class="col-sm-8">
                    <input type="time" class="form-control" id="time" name="event[start_time]">
                  </div>
                </div>
                 <div class="form-group row">
                  <label for="end_time" class="col-sm-2 col-form-label" >End Time</label>
                  <div class="col-sm-8">
                    <input type="time" class="form-control" id="time" name="event[end_time]">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="age_taught" class="col-sm-2 col-form-label">Age Taught</label>
                  <div class="col-sm-8">
                    <div class="col-sm-3 pl-0">
                      <select class="custom-select" name="event[min_age]">
                        <option selected>Lowest Age</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>

                      </select>
                    </div>
                    <div class="col-sm-4">
                      <select class="custom-select" name="event[max_age]">
                        <option selected>Highest Age </option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>  
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="location" class="col-sm-2 col-form-label">Location</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="location" placeholder="Location" name="event[location]">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="price" class="col-sm-2 col-form-label">Price</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="price" placeholder="0" name="event[price]">
                  </div>
                </div>
                <div class="form-group row flex btns-group">
                  <input type="submit" class="btn btn-update" value="Create Event">
                </div>
              </form>
            </div>
            <!-- Info Card -->
          </div>
        </div>
        <!--  Profile Tab -->
      </div>
    </div>

  </div> <!-- School -->

</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->

