<div class="container">

  <!-- Render Search Bar  -->
  <%= render :partial => "search_engins/partials/event_search" %>
  <!-- Render Search Bar  -->

  <h2 class="title center">Upcomming Events</h2>

  <div class="event-results">
    <!-- Render events results  -->
    <%= render :partial => "events/partials/events", :locals => {:events => @events} %>
    <!-- Render events results  -->
  </div>


  <div class="pagination-well flex flex-col">
    <%= will_paginate @events %>
</div>