<p id="notice"><%= notice %></p>

<div class="row contant">
        <div class="container">          
          <form action="">
            <div class="search-bar flex">
              <i class="fa fa-search fa-lg search-icon" aria-hidden="true"></i>
              <input type="text" name="query" class="form-control search-field" placeholder="Search...">
            </div>
          </form>
          <h2 class="title center">Top Results</h2>

          <% @events.each do |event| %>
 
          <div class="col-md-10 offset-md-1">
            <div class="container event-row">
              <div class="event-date col-md-1">
                <h2 class="month">DEC</h2>
                <h3 class="day">18</h3>
              </div>
              <div class="col-md-11">
                <div class="event-desc flex flex-col">
                  <h2 class="title">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
                  <p class="leads">
                    <strong>Hosted By</strong>
                    <a href="#" class="hosted-by">
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </a>
                  </p>
                  <div class="event-footer flex">
                    <p class="time-leads">10:00PM To 01:00AM</p>
                    <button class="btn btn-view">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>