<p id="notice"><%= notice %></p>

<div class="row contant">
        <div class="container">          
          <form action="">
            <div class="search-bar flex">
              <i class="fa fa-search fa-lg search-icon" aria-hidden="true"></i>
              <input type="text" name="query" class="form-control search-field" placeholder="Search...">
            </div>
          </form>
          <h2 class="title center">Top Views</h2>
          <%byebug%>
          <% if @events.empty?%>
           <div class="col-md-10 offset-md-1">
                <p><strong>No event</strong></p>
          </div>
          <%else%>
            <% @events.each do |event| %>
            <div class="col-md-10 offset-md-1">
             <%= render :partial => "/events/event_row" ,:locals => {:event => event}%>
             </div>
            <%end%>
          <%end%>