

<div class="container school-row">
    <div class="school-logo col-md-4">
      <img src="http://placehold.it/300x190" alt="school-log">
    </div>
    <div class="col-md-8">
    <% byebug %>
        <div class="school-desc flex flex-col">
            <h2 class="title"><%= school.name%></h2>
	        <div class="age flex">
	          <i class="fa fa-child fa-lg" aria-hidden="true"></i>
	          <h4><%=school.min_age%> - <%=school.max_age%></h4>
	        </div>
            <button class="btn btn-view">View</button>
        </div>
    </div>
</div>