<div class="container">
  <!-- Include Search Bar Partials -->
  <%= render partial: "search_engins/partials/search_filters"%>
  <h2 class="title center">Top Results</h2>
  <div class="schools-result">
    <%= render partial: "schools/partials/schools", :locals => {:schools => @schools} %>
  </div>
</div>

<div class="apple_pagination">
    <%= will_paginate @schools, :container => false %>
</div>
