.pagination-well{
  .pagination{
    margin-left: auto;
    margin-right: auto;
    a, em, span {
      background: #66b5b9;
      padding: 4px 11px;
      color: #00848b;
      margin-right: 10px;
      font-family: 'Roboto Mono';
      font-style: normal;
      text-transform: capitalize;
    }
    em, span.disabled{
      background: rgba(102, 181, 185, .6);
      cursor: no-drop;
    }
  }
}