.school-row{
  padding: 25px 15px;
  margin-bottom: 40px;
  .school-desc{
    height: 183px;
    .title{
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
      text-align: left;
    }
    .age{
      h4{
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: 100;
      }
      i{
        font-size: 25px;
        padding-right: 15px;
      }
    }
    .btn-view {
      margin-top: auto;
      margin-right: 27px;
      width: 155px;
      margin-left: auto;
      background: #00848b;
      color: #fff;
      font-weight: 100;
    }
  }
}