.school-header{
	background: url(http://placehold.it/1100x450);
	height: 450px;
	width: 1110px;
	margin-bottom: 180px;
	position: relative;
}

.school-logo {
    margin-top: 15px;
}

.school-info{
	background: #000;
	opacity: .6;
	position: absolute;
	top: 63%;
	min-height: 260px;
}

.school-info  h2.school-name {
	color: #fff;
	margin-top: 11px;
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	margin-bottom: 16px;
}

.school-info p.leads {
	color: #fff;
	font-weight: 100;
	padding-left: 17px;
	padding-right: 85px;
	margin-bottom: 25px;
	font-size: 15px;
}

.school-details {
	padding: 15px 35px;
}

.school-details .title-col{

}

.school-details .details-row{
	margin-bottom: 12px;
}

.school-details h2.contact.row {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 30px;
}
