<% if schools.empty? %>
	<div class="empty-list">
		<h2 class="title">Sorry, We Could Not Find Any Match</h2>
		<p class="leads">Try Adjusting Your Search Filter</p>
	</div>
<% else %>
	<% schools.each do |school| %>	 
		<%= render partial: "schools/partials/school_row", :locals => {:school => school} %>
	<% end %>
<% end %>