.header{
	background: image-url('bg-img.jpg') no-repeat center center;
	background-size: cover;
	height: 720px;
	.navbar{
		.nav{
			.navbar-brand,
			.nav-link{
				color: #fff !important;
			}
		}
	}
} //Header NavBar


.header{
	.header-content{
		margin-top: 80px;
		.slogen{
			.title{
				color: #fff;
			  font-family: 'Luxia-Semi-Bold', 'Lato', serif;
			  font-weight: 400;
			  font-size: 1.7rem;
			  letter-spacing: 3px;
			  line-height: 28px;
			  margin-top: 75px;
			}
			.banner{
				color: #fff;
			  font-size: 1.9rem;
			  margin-top: 55px;
			  font-weight: 200;
			}
			.sign-up-btns{
				.btn{
					color: #fff;
					margin-top: 25px;
					margin-right: 20px;
					width: 150px;
					background-color: #66b5b9;
					transition: background .5s;
					&:hover{
						background-color: #00848b;
					}
				}
			}
		}

		.signup-form{
		  box-shadow: 2px 1px 4px #222;
		  padding: 0;
		  margin-bottom: 40px;
		  width: 400px;
		  margin-left: 5%;
		  background: #fff;
		  .signup-header{
		  	background: rgba(0, 132, 139, .6);
		    height: 90px;
		    margin-bottom: 55px;
		    .title{
		    	letter-spacing: 1px;
		    	font-family: 'Roboto Mono';
		    	color: #00848b;
		    	margin: auto;
		    }
		  }
			.form-group,
			.signup-form form,
			.signup-header{
				display: flex;
				flex-direction: column;
			}
			.form-group{
				label{
					text-align: center;
					display: block;
					font-family: 'Roboto Mono';
					margin-top: 10px;
					margin-bottom: 0;
				}
				input{
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}
			}
			.btn-sign-up{
				background: #66b5b9;
				font-weight: 100;
			  font-family: 'Roboto Mono';
			  color: #fff;
				letter-spacing: .8px;
				margin-bottom: 20px;
				margin-top: 60px;
				border-radius: 20px;
				font-size: 19px;
				transition: background .5s;
				&:hover{
					background: #00848b;
				}
			}
		}
	} //Header Contant
}













