<form id="checkout-form" action="/transactions" method="post" data_token="<%= @client_token %>" style="border: 1px solid #222">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" class="hidden">
  <input type="hidden" value="<%= @event.id %>" name="event_id" class="hidden">
  <div id="error-message"></div>
  <h2> Purchease Tickets</h2>
  <div class="form-group row">
    <label for="tickets_count" class="col-xs-2 col-form-label">Number Of Tickets</label>
    <div class="col-xs-10">
      <input class="form-control" type="number" value="1" min="1" id="tickets_count" data-value="1">
    </div>
  </div>
  <div class="row">
      <h2>Price Per Ticket</h2>
      <p class="lead price_per_ticket">10</p>
  </div>
  <div class="row">
      <h2>Total Price</h2>
      <h2 class="lead total_price">10</h2>
      <input type="hidden" value="10" name="amount" class="hidden" id="amount">
  </div>
  <label for="card-number">Card Number</label>
  <div class="hosted-field" id="card-number"></div>

  <label for="cvv">CVV</label>
  <div class="hosted-field" id="cvv"></div>

  <label for="expiration-date">Expiration Date</label>
  <div class="hosted-field" id="expiration-date"></div>

  <input type="hidden" name="payment-method-nonce">
  <input type="submit" value="Get Tickets" disabled>
</form>


