<h1>Transactions</h1>
<%= render 'form' %>
<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.6.2/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.6.2/js/hosted-fields.min.js"></script>


